/* Expand / Collapse Buttons */

.field-repeater-toggle-all,
.field-flexible-toggle {
	float:right;
	margin: -5px 0 0 !important;
}
.field-repeater-toggle::before,
.field-flexible-toggle::before {
	content: "\f506";
	display: inline;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: text-bottom;
	color: #777;
	margin: 3px 5px 0 0; 
}
.field-repeater-toggle-all.collapsed-row::before,
.field-flexible-toggle-all.collapsed-row::before {
	content: "\f211";
}
.acf-field-repeater .acf-input {
    margin-top: 30px; 
}

/* Company Information Tab */

#logo-message {
	text-align: center;
}

/* Save Settings button styling */

   .acf-settings-wrap #submitdiv .postbox-header {
        display: none;
    }
    .acf-settings-wrap #poststuff #post-body.columns-2 #side-sortables,
    .acf-settings-wrap #post-body.columns-2 #postbox-container-1 {
        width: unset;
    }
    .acf-settings-wrap #post-body.columns-2 #postbox-container-1 {
        float: none;
        display: inline-block;
    }
    .acf-settings-wrap #submitdiv {
        border: none;
        background: none;
        box-shadow: none;
    }
    .acf-settings-wrap #submitdiv #major-publishing-actions  {
        background: transparent;
        border: none;
        padding: 0;
    }

/* Tutorials styling */

.video-list-wrap .col {
    display: flex;
    flex-direction: column;
}
.tutorial a {
    text-decoration: none;
    color: #000;
}
.tutorial a img {
    border: 2px solid;
    max-width: 200px;
    width: 100%;
}
.tutorial a p {
    font-style: italic;
    text-align: center;
    margin: 0;
}
