    .has-pink-color {
        color: #d24f7f;
    }
    .has-pink-background-color {
        background-color: #d24f7f;
    }
    .has-teal-color {
        color: #4d99ab;
    }
    .has-teal-background-color {
        background-color: #4d99ab;
    }
    .has-orange-color {
        color: #ecac56;
    }
    .has-orange-background-color {
        background-color: #ecac56;
    }
